.user_setting {
  padding: 10px 30px 10px 30px;
}
.menu {
  padding: 0px 30px 0px 30px;
  background-color: #8aac00;
  font-size: 16px;

  .menu_left {
    padding: 3px 0px 3px 0px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      .item {
        margin-left: 20px;
        :hover{
          background-color: #608200;
          border: 1px solid #608200;
          border-radius: 5px;
        }
      }
      .item_one {
        margin-left: 20px;
        :hover{
          background-color: #608200;
          border: 1px solid #608200;
          border-radius: 5px;
        }
      }
      a {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        border:1px solid #8aac00;
        color: white;
      }
      
    }
  }
  .menu_right {
    display: flex;
    justify-content: center;
    padding: 3px 0px 3px 0px;
    .item_right {
      background-color: white;
      color: black;
      padding: 10px 20px 10px 20px;
      border: 1px solid white;
      border-radius: 4px;
    }
  }
}
